#app {
    border: 1px solid #ddd;
    margin: 50px 50px 0px 50px;
}

#upper-editor-section {
    display: flex;
    align-items: stretch;
    height: 400px;
}

#editor {
    flex-grow: 1;
}

#output {
    width: 400px;
    border-left: 1px solid #ddd;
}

#button-bar {
    height: 50px;
    border-top: 1px solid #ddd;
    align-items: stretch;
    display: flex;
}